# Operating System
.DS_Store
Thumbs.db
Desktop.ini

# Node / NestJS Dependencies & Build Outputs
node_modules/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.oxlintrc.json

# Environment Variables & Secrets
.env
.env.local
.env.production
!.env.example

# Database / Prisma
prisma/migrations/dev/

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
mobile/build/
mobile/.dart_tool/
mobile/.packages
mobile/.pub/
mobile/pubspec.lock

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo
